<div class="description">
  {% if favorites %}
  <h2 class="fav">Your Favorites</h2>
  {% else %}
  <h2>Welcome to Blogapp !!</h2>
  <p>
    Welcome to Blogapp! Our blog is dedicated to Technology and Medicine. Here
    you'll find type of content, such as informative articles, insightful
    opinions, or inspiring stories. Whether you're a target audience, secondary
    audience, or simply curious about topic, we hope you'll find something
    useful and enjoyable on our blog." Remember to keep your message concise,
    engaging, and focused on your blog's unique value proposition.
  </p>
  {% endif %}
</div>
